.navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;

    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);

    position: sticky;
    top: 0;
    background: #fff;

    .mdi {
        color: #95989a;
    }

    .activeLink {
        .mdi {
            color: #cc6257 !important;
        }
    }
}
